<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pyildizt.sony.englishword">

    <application
        android:allowBackup="true"
        android:icon="@drawable/loo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.pyildizt.sony.englishword.MainActivity"
            android:label="EnglishWord">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pyildizt.sony.englishword.Splash"
            android:label="EnglishWord">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pyildizt.sony.englishword.firstLevel" />
        <activity android:name="com.pyildizt.sony.englishword.secondLevel" />
        <activity android:name="com.pyildizt.sony.englishword.thirdLevel" />
        <activity android:name="com.pyildizt.sony.englishword.meanFirst" />
        <activity android:name="com.pyildizt.sony.englishword.yazFirst" />
        <activity android:name="com.pyildizt.sony.englishword.testFirst" />
        <activity android:name="com.pyildizt.sony.englishword.meanSecond" />
        <activity android:name="com.pyildizt.sony.englishword.yazSecond" />
        <activity android:name="com.pyildizt.sony.englishword.testSecond" />
        <activity android:name="com.pyildizt.sony.englishword.meanThird" />
        <activity android:name="com.pyildizt.sony.englishword.yazThird" />
        <activity android:name="com.pyildizt.sony.englishword.testThird" />
        <activity android:name="com.pyildizt.sony.englishword.VeriEkle"></activity>
    </application>

</manifest>